*,
*::before,
*::after{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}
a{
  text-decoration: none;
}
li a{
  color: grey;
}
.nav{

  width: 100%;
  height: auto;

}
.nav .toggle{
  position: absolute;
  right: 0;
  margin: 1rem 1rem;
}
.nav img{
  width: 1.5rem;
}
.nav__checkbox{
  display: none;
}
.nav__menu{
  margin-top: .2rem;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.nav__menu li{
  list-style: none;
  margin-bottom: 2rem;
  display: none;
}
.nav__menu li a{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 700;
  color: inherit;
}
.nav__menu  a:hover{
  color: grey;
}
.nav__menu li:nth-child(1){
  margin-right: auto;
  /* margin-top: 1rem; */
  padding: 1rem;
  margin-left: 1rem;
  display: block;
}
.slideshow-container{
  display: none;
}
.mouse{
  margin: 0 auto;
  width: 20px;
  height: 35px;
  border: 2px solid black;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}
.mouse-circle{
  position: absolute;
  bottom: 5%;
  width: 10px;
  height: 10px;
  background: black;
  border-radius: 20px;
}
.story-slider{
  display: none;
}

.pic1 {
  height:600px;
  background-image: url(/image/picture1-s.png);
  background-repeat: no-repeat;
  background-position: center;
}
.pic2{
  height: 280px;
  background-image: url(/image/picture2-s.png);
  background-position: center;
  background-repeat: no-repeat;
}
.pic3{
  height: 620px;
  background-image: url(/image/picture3-s.png);
  background-position: center;
  background-repeat: no-repeat;
}
@media only screen and (min-width: 400px){
  .pic2-container{
    height: 1000px;
  }

  .pic1 {
    height:600px;
    background-image: url(/image/picture1.png);
    background-repeat: no-repeat;
    background-position: center;
  }
  .pic2{
    height: 500px;
    background-image: url(/image/picture2.png);
    background-position: center;
    background-repeat: no-repeat;
  }
  .pic3{
    height: 620px;
    background-image: url(/image/picture3.png);
    background-position: center;
    background-repeat: no-repeat;
  }
}
@media only screen and (max-width: 407px){
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.6rem;
  }
  p {
    margin-bottom: 0.5rem;
    color: #211f1f;
  }
  a{
    font-size: .7rem;
  }
  .nav__menu  li a{
    font-size: .7rem;
  }
}
.next-btn-comment, .prev-btn-comment{
  display: none;
}

.footer{
  margin-top: 3rem;

}
@media only screen and (max-width:557px) {
  .nav__menu li:nth-child(2){
    margin-top:10px;
    margin-left: 40%;
    position: absolute;
    padding: 7px 20px;
    background: black;
    color: white;
    border-radius: 20px;
    display: block;
  }

}


.close {
  display: none;
}
#nav_checkbox:checked ~ ul.nav__menu li{
  display: block;
}
#nav_checkbox:checked ~ .toggle .menu{
  display: none;
}
#nav_checkbox:checked ~ .toggle .close{
  display: block;
}
.svg{
  background-image: url(/image/1s.png);
  height: 410px;
  background-repeat: no-repeat ;
  background-position: center;
}
@media only screen and (min-width:560px) {
   .nav__menu{
    flex-direction: row;
    background: white;
  }
  .toggle{
    display: none;
  }
  .nav__menu li{
    display: block;
    padding: 1rem;
  }
  .nav__menu li a{
    font-size: .9rem;
  }
  .tips ol{
    padding-left: 2rem;
  }
  .tips-ol{
    width:70vw ;
    margin: 0 auto;
  }
  .svg{
    background-image: url(/image/36.png);
    height: 410px;
    background-repeat: no-repeat ;
    background-position: center;
  }
}
.black-rect{
  display: grid;
  width: 100%;
  background: black;
  color: white;
  height: 350px;
  margin-top: -200px;
  position: relative;
  z-index: -1;

}
.black-rect h1{
  padding-top: 12rem;
  /* font-size: 1.5rem; */
}
.start-journey, .main-text{
margin: 3rem auto;
  width: 80vw;
}
.start-journey p{
  margin-bottom: 2rem;
}

.guide{
    font-size: .7rem;
    color: red;

}

.button{
  font-family: Be Vietnam, sans-serif;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  /*margin-top: 2rem;*/
  padding: 1rem 4rem;
  border: none;
  border-radius: 2px;
  background-color: white;
  color: inherit;
  border: 1px solid black;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
  flex-grow: 1;
}
.button:hover{
  background: black;
  color: white;
  transition: all .5s ease;
}

.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  height: 250px;
  width: 100%;
}

.scrolling-wrapper::-webkit-scrollbar{
    display: none; /*  chrom, safari and operal */
}
.scrolling-wrapper{
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
  .card {
    border-radius: 20px;
    margin-top: 30px;
    margin-right: 10px;
    display: inline-block;
    /*width: 370px;*/
    height: 220px;
    background: white;
  }
.scroll-video{
  width: 100%;
  height: 100%;
  border-radius: 20px;

}
.scrolling-wrapper-1{
  position: relative;
  height: 300px;
  width: 100%;
  /*background-color: #5fbabf;*/
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  display: -webkit-box;
  margin-bottom: 10vw;
}
.scrolling-wrapper-1::-webkit-scrollbar{
  height: 12px;
  background-color: #e3e2e2;
} /*background-color: #e3e2e2;*/

.scrolling-wrapper-1::-webkit-scrollbar-thumb{
  height: 10px;
  background-color: #b2afaf;
  border-radius: 20px;
}
.scrolling-wrapper-1::-webkit-scrollbar-thumb:hover{
  background-color: #282c35;
}
.members-story-card{
  width: 300px;
  height: 300px;
  /*background-color: #884f4f;*/
  margin-right: 10px;
  /*display: inline-block;*/
}
.user-image{
  width: 50%;
  -webkit-writing-mode: vertical-lr;
  height: 50%;
  margin: 0 auto;
  border-radius: 50%;
  overflow: hidden;
  background: white;
  border: 1px solid #5fbabf;
}
.user-image img{
  width: 100%;
}
.user-name{
  padding-top: .5rem;
  font-size: 1.2rem;
  color: #000000;
}
.user-comment{
  padding: .5rem;
  white-space: normal;
  color: #50545e;
}
  .begin-rect{
    margin-top: 8rem;
    width: 48%;
    background: black;
    height: 200px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  .begin-text{
    margin-top: -7.5rem ;
    margin-bottom: 7rem;
    font-size: 2rem;
    background: linear-gradient(90.05deg, #000000 2.78%, #FFFFFF 96.6%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    /*background-clip: text; */
  }
  .pic-container{
  height: 1100px;
  width: auto;
  }
  .pic h1{
    position: relative;
    padding-top: 5rem;
    margin: 1.5rem auto;
  }
  .pic li{
    text-align: left;
    padding-left: 2rem;
    padding-top: 1.2rem;
    list-style: disc inside;

  }
  /*.pic1{*/
  /*  height: 598px;*/
  /*  width: 464px;*/
  /*  background-color: aqua;*/
  /*  background-image: url(/image/pic1-d.png);*/

  /*}*/

  .tips li, .tips2 li{
    /* margin-top: 800px; */
    text-align: left;
    padding-left: 2rem;
    padding-top: 1.2rem;
    list-style: disc inside;
  }

.scrol{
  margin: 5vw 0rem;
}
.social-media img{
  margin:0rem 1rem;
}
.small-logo{
  margin-top: 2rem;
}
.footer-left-side p{
  font-size: 1rem;
  color: #64748b;
  margin: 0 auto 2rem auto;
  width: 70vw;
}
.links{
  margin-top: 3rem;
  display: flex;
  flex-direction: column;

}
.links p{
  font-size: 1.2rem;
}
.links a{
  color: #908787;
  padding: .5rem;
}
.email{
  margin: 2rem 0;

}
.email input[type=email] {
  display: block;
  margin: 2rem auto;
  width: 250px;
  border: none;
  border-bottom: solid 1px black;
  text-align: center;
  outline: none;

}
.email a{
  padding: .5rem 1rem;
  border: 1px solid black;
  color: black;
}
.email a:hover{
  background: black;
  color: white;
}
.copy{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3rem;
  background: black;
  color: white;
}
@media only screen and (min-width:800px) {
  .nav__menu li {
    display: block;
    padding-right: 3rem;
  }

  .black-rect h1 {
    font-size: 3rem;
    font-weight: 400;
  }

  .scrolling-wrapper {
    height: 280px;
  }

  .card {
    height: 250px;
    width: 500px;
  }

  @media only screen and (min-width: 900px) {
    .pic2-container{
      height: 780px;
    }
    .start-journey {
      width: 60%;
      margin: 6rem auto;
      font-size: 1.5rem;
    }

    .main-text {
      width: 60%;
      font-size: 1.5rem;
      margin: 5rem auto;
    }

    .story-slider {
      display: block;
      width: 100%;
      height: 500px;
      display: flex;
      justify-content: center;
      align-items: center;
      /* position: relative; */
    }

    .slider-container {
      width: 80%;
      height: 450px;
      background: white;
      box-shadow: 3px 3px 3px 3px white;
      display: flex;
      /* background: red; */
    }

    .story-part {
      width: 40%;
      height: 100%;
      margin: 0 5%;
      line-height: 2.5;
      text-align: left;
      /* background: blue; */
    }
    .tips-ol{
      width: 50vw;
    }

    .picture-part {
      width: 50%;
      height: 100%;
    }
    .picture-part img{
      width: 100%;
      height: 100%;
    }

    .w3-button {
      position: absolute;
      font-size: 3rem;
    }

    .prev-btn {
      position: absolute;
      left: 0;
      padding: 40px;
      border: none;
      border-radius: 50%;
      background: none;
      color: grey;
      font-size: 3rem;
    }

    .next-btn {
      position: absolute;
      right: 0;
      padding: 40px;
      border: none;
      background: none;
      border-radius: 50%;
      color: grey;
      font-size: 3rem;
    }

    .prev-btn:hover, .next-btn:hover {
      background: none;
      color: black;
    }

    .scrolling-wrapper {
      display: none;
    }


    .begin-rect {
      width: 48%;
      height: 500px;
      position: relative;
      z-index: 4;
      border-radius: 0;
    }

    .begin-text {
      font-size: 4rem;
      margin-top: -17.5rem;
      position: relative;
      z-index: 5;
      margin-bottom: 17rem;
    }

    .pic-container {
      height: 800px;
    }

    .pic1 {
      background-image: url(/image/pic1-d.png);
      background-repeat: no-repeat;
      height: 600px;
      width: 50%;
      background-position: center;
      float: right;
      margin-right: 2rem;

    }

    .pic2 {
      background-image: url(/image/pic2-d.png);
      background-repeat: no-repeat;
      height: 600px;
      width: 50%;
      background-position: center;
      float: left;

    }

    .pic3 {
      background-image: url(/image/pic3-d.png);
      background-repeat: no-repeat;
      height: 600px;
      width: 50%;
      background-position: center;
      float: right;
      margin-right: 2rem;
    }

    .tips, .tips2 {
      width: 50%;
      height: 600px;
    }

    .tips h1, .tips2 h1 {
      width: 40vw;
    }

    .tips ol, .tips2 ol {
      width: 400px;
      margin: 2rem auto;
    }

    .tips li, .tips2 li {
      line-height: 1.7;
      font-size: 1.2rem;
    }

    .tips2 {
      float: right;
    }
    /* Slideshow container */
    .slideshow-container {
      display: block;
      /* max-width: 1000px; */
      width: 100%;
      position: relative;
      /* margin: auto; */
    }

    /* Hide the images by default */
    .mySlides {
      display: none;
    }

    .mySlides img {
      height: 680px;
    }

    /* Next & previous buttons */
    .prev, .next {
      cursor: pointer;
      position: absolute;
      top: 10%;
      width: auto;
      margin-top: -22px;
      padding: 25px;
      color: white;
      font-weight: lighter;
      font-size: 4rem;
      transition: 0.6s ease;
      border-radius: 0 3px 3px 0;
      user-select: none;
    }

    /* Position the "next button" to the right */
    .next {
      right: 0;
      border-radius: 3px 0 0 3px;
    }

    .prev {
      left: 0;
      border-radius: 0 3px 3px 0;
    }

    /* On hover, add a black background color with a little bit see-through */
    .prev:hover, .next:hover {
      background-color: rgba(0, 0, 0, 0.8);
    }

    /* Caption text */
    .text {
      width: 70vw;
      margin-left: 10%;
      text-align: left;
      color: white;
      height: 60%;
      position: absolute;
      bottom: 10%;
      font-size: 4rem;
     /*background-color: #211f1f;*/
    }
    .father{
      /*display: flex;*/
      /*justify-content: center;*/
      /*align-items: center;*/
      /*background-color: red;*/
      height: 6rem;
      /*animation: openclose 7s ease-in-out infinite;*/
      width: 80vw;
      white-space: nowrap;
      position: relative;
      overflow: hidden;
    }
    .child{
      display: block;
      position: absolute;
      width: 80vw;
      /*top: 25%;*/
      height: 18rem;
      /*background-color: blue;*/
      overflow: hidden;
      animation: openclose 12s ease-in-out infinite;
    }
    .word1, .word2, .word3{
      line-height: 6rem;
    }

    @keyframes openclose{
    0%{
      width:0;
    }
    25%{
      width: 100%;
    }
      50%{
       width: 0;
  }
      75%{
        width: 100%;
      }
      100%{
        top: -6rem;
        width: 0;
      }


    }

    .buttons {
      position: absolute;
      bottom: 10%;
    }

    .text a {
      padding: 10px 20px;
      border: 1px solid white;
      border-radius: 20px;
      color: white;
      background-color: inherit;
      font-size: 1rem;
      width: auto;
      margin-right: 1rem;
    }

    .text a:hover {
      background-color: white;
      color: black;
    }

    /* The dots/bullets/indicators */
    .dot {
      cursor: pointer;
      height: 15px;
      width: 15px;
      margin: 0 2px;
      background-color: #bbb;
      border-radius: 50%;
      display: inline-block;
      transition: background-color 0.6s ease;
    }

    .active, .dot:hover {
      background-color: #717171;
    }

    /* Fading animation */
    .fade {
      -webkit-animation-name: fade;
      -webkit-animation-duration: 1.5s;
      animation-name: fade;
      animation-duration: 1.5s;
    }

    .opacity {
      width: 100%;
      height: 99%;
      background: black;
      opacity: 80%;
      top: 0;
      position: absolute;
    }

    @-webkit-keyframes fade {
      from {
        opacity: .4
      }
      to {
        opacity: 1
      }
    }

    @keyframes fade {
      from {
        opacity: .4
      }
      to {
        opacity: 1
      }
    }
    /*.button-container-1{*/
    /*  display: flex;*/
    /*  align-items: center;*/
    /*  position: absolute;*/
    /*  justify-content: space-between;*/
    /*  width: 100%;*/
    /*  height: 100%;*/
    /*}*/
    /*.next-btn-comment, .prev-btn-comment{*/
    /*  display: block;*/
    /*  font-size: 2.5rem;*/
    /*  background: inherit;*/
    /*  border: none;*/
    /*  padding: 20px;*/
    /*  border-radius: 50%;*/
    /*  position: absolute;*/
    /*  top: 35%;*/
    /*  cursor: pointer;*/
    /*}*/
    /*.prev-btn-comment{*/
    /*  left: 2rem;*/
    /*}*/
    /*.next-btn-comment{*/
    /*  right: 2rem;*/
    /*}*/
    /*.prev-btn-comment:hover, .next-btn-comment:hover{*/
    /*  background-color: #f1f1f1;*/
    /*}*/

    .footer{
      display: flex;
      justify-content: space-around;
    }
    .footer-left-side{
      height: 400px;
      display: flex;
      flex-direction: column;
      text-align: left;
      width: 320px;
    }
    .footer-left-side h2{
      font-size: 1.5rem;
    }
    .footer-left-side p{
      width: 350px;
      font-size: 1.2rem;
      color: #908787;
      margin-bottom: 2rem;
    }
    .links p{
      margin-bottom: 3rem;
    }
    .email{
      height: 300px;
      width: 350px;
      padding-left: 2rem;
      border-left: 2px solid black;
    }
    .email h3{
      padding-top: 3rem;
      padding-bottom: 1.5rem;
      text-align: left;
      font-size: 30px;
      font-weight: 400;
    }


  }
}
